<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      MinKajiで家事を楽しく分担
    </h2>
    <p class='service-explain'>
      家で過ごす時間が増えたこんな時代だから
    </p>
    <p class='service-explain'>
      みんなで快適な'おうち時間'を。
    </p>
  </div>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>完了した家事一覧</h2>    
    <%= link_to '家事を入力', new_house_work_path, class: "subtitle" %>
    <ul class='item-lists'>

     <% if @house_works.present?%>
       <% @house_works .each do |house_work| %>
        <li form_with class='list'>
        <%= link_to house_works_path(house_work.id) do %>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= house_work.user.name %>
          </h3>
          <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">日付</th>
          <td class="detail-value"><%= house_work.date %></td>
        </tr>
        <tr>
          <th class="detail-item">掃除した場所</th>
          <td class="detail-value"><%= house_work.Clean.name %></td>
        </tr>
        <tr>
          <th class="detail-item">タオル交換</th>
          <td class="detail-value"><%= house_work.Towel.name %></td>
        </tr>
        <tr>
          <th class="detail-item">ゴミ出し</th>
          <td class="detail-value"><%= house_work.Garbage.name %></td>
        </tr>
        <tr>
          <th class="detail-item">合計獲得ポイント</th>
          <td class="detail-value"><%= house_work.score.name %></td>
        </tr>
      </tbody>
      </table>
          </div>
        </div>
       </li>
        <% end %>
        <% end %>
        <% end %>
   </ul>
 </div>
</div>