<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <%# ログインしているユーザーと出品しているユーザーが、同一人物の場合と同一人物ではない場合で、処理を分ける %>
    <% if user_signed_in? && current_user.id == @house_work.user_id %>
      <%= link_to '家事内容の編集',  edit_house_work_path(@house_work.id), method: :get, class: "item-red-btn" %>
      <p class='or-text'>or</p>
      <%= link_to '削除', house_work_path(@house_work.id), method: :delete, class:'item-destroy' %>
    <% end %>
    <% if @house_works.present?%>
       <% @house_works .each do |house_work| %>
        <li form_with class='list'>
        <%= link_to house_works_path(house_work.id) do %>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= house_work.user.name %>
          </h3>
          <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">日付</th>
          <td class="detail-value"><%= house_work.date %></td>
        </tr>
        <tr>
          <th class="detail-item">掃除した場所</th>
          <td class="detail-value"><%= house_work.Clean.name %></td>
        </tr>
        <tr>
          <th class="detail-item">タオル交換</th>
          <td class="detail-value"><%= house_work.Towel.name %></td>
        </tr>
        <tr>
          <th class="detail-item">ゴミ出し</th>
          <td class="detail-value"><%= house_work.Garbage.name %></td>
        </tr>
        <tr>
          <th class="detail-item">合計獲得ポイント</th>
          <td class="detail-value"><%= house_work.score.name %></td>
        </tr>
      </tbody>
      </table>
      </div>
        </div>
       </li>
        <% end %>
        <% end %>
        <% end %>
  </div>
</div>

