<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      MinKajiで家事を楽しく分担
    </h2>
    <p class='service-explain'>
      家で過ごす時間が増えたこんな時代だから
    </p>
    <p class='service-explain'>
      みんなで快適な'おうち時間'を。
    </p>
  </div>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>★今月のファミリーポイント★</h2>
    <h2 class='total-score'>現在<%= @total_score %>点、獲得しています！</h2>    
    <%= link_to '新規で家事を入力する', new_house_work_path, class: "subtitle" %>
  </div>
  <div class="item-show">
   <div class="item-box">
    <ul class='item-lists'>
    <h2 class='title'>★個人の獲得ポイント★</h2>
      <% @users.each do |user| %>
       <li form_with class='list'>
        <div class='item-info'>
        </h3>
        <table class="detail-table">
       <tbody>
        <tr>
          <th class="detail-item">ユーザーネーム</th>
          <td class="detail-value-name"><%= link_to user.name, user_path(@users) %></td>
        </tr>
        <tr>
          <th class="detail-item">合計獲得</th>
          <td class="detail-value"><%= user.house_works.sum(:score_id) %>点</td>
        </tr>
       </tbody>
       </table>
        </div>
       </li>
       <% end %>
    </ul>
   </div>
 </div>
</div>